:root {
    --primary: #F1F0F0;
    --secondary:#6192BF;
  }
@tailwind base;
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
    scrollbar-gutter: stable both-edges;
  }
@tailwind components;
@tailwind utilities;